main {
  margin: auto;
  width: 50%;
  padding: 20px;
}
body{
  background-color: "red";
  padding: 5px;
}
.h1{
  text-align: center;
  font-family: "Helvetica";
  font-size: 10px;
}
.p1{
  color: "yellow";
  font-family: "Calibri";
  font-size: 7px;
}
